/__pycache__/pelicanconf.cpython-37.pyc
*~
._*
*.lock
*.DS_Store
*.swp
*.out
*.py[cod]
output
/__pycache__/pelicanconf.cpython-37.pyc
/__pycache__/pelicanconf.cpython-37.pyc
/__pycache__/pelicanconf.cpython-37.pyc
/__pycache__/pelicanconf.cpython-37.pyc
/__pycache__/pelicanconf.cpython-37.pyc
/output/My-first-post.html
/output/My-first-post.html
/output/author/your-name.html
/output/categories.html
/output/category/misc.html
/output/index.html
/output/index.html
/output/tag/first.html
/output/tags.html
/output/theme/css/fonts.css
/output/theme/css/main.css
/output/theme/css/main.css
